// Topcoat colors

$highlight-color  : #fff;
$shadow-color     : #000;

/* ---------- call to action colors ---------- */
$text-color--cta: #fff;
$background-color--cta: #288edf;

/* ---------- notification / error color ---------- */
$notification-color: #ec514e;

/* ---------- dark colors ---------- */
$text-color-dark       : #c6c8c8;
$background-color-dark : #595b5b;
$background--body-dark : #4B4D4E;

/* ---------- light colors ---------- */
$text-color-light      : #454545;
$background-color-light: #e5e9e8;
$background--body-light: #DFE2E2;



body {
  margin: 10px;
}

#content {
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  width: 100%;
}


.topcoat-text-input--small {
  width: 44px;
}

label {
  // color: $text-color-dark;
  // text-shadow: 0 -1px rgba(0,0,0,.69);
  display: flex;
  flex: 1 1;
  align-items: center;

  &.stack {
    flex-flow: column;
  }
  &.inactive {
    // color: $text-color-light;
    text-shadow: none;
  }
}

.crop-area-row {
  display: flex;

  margin-bottom: 6px;
  > .small {
    font-size: 0.75rem;
  }
}
button, label {
  font-size: 1.2em !important;
}
button {
  display: inline-block;
  margin: 1em 0.5em;
}

button.active {
  // color: $text-color-light;
  // text-shadow: 0 -1px rgba(0,0,0,.69);
  border: 1px solid #333434;
  box-shadow: inset 0 1px #737373;
  // background-color: $background-color-light;
}