<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../bower_components/topcoat/css/topcoat-desktop-dark.min.css">
  <link rel='stylesheet' type='text/css' href='../bower_components/topcoat-icons/font/icomatic.css' />
  <!-- bower:css -->
  <!-- endbower -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../css/app.css">
  <!-- endinject -->
  <title></title>
</head>
<body class="hostElt" >
  <div ng-controller="MainController" id="content">
    <h1>Universal Images</h1>
    {{greeting}}

    <div id="rmd-container" xmp-extract>
      Target name: {{targetName}}<br>
      Image Dimensions: {{documentSize.width}}x{{documentSize.height}}<br>

      <fieldset>
        <legend>Allowed Derivates</legend>
        <fieldset>
          <legend>Crop</legend>
          <label class="topcoat-checkbox">
            <input type="radio" name="allowedDerivates" ng-model="rmd.AllowedDerivates.Crop.__text" value="none">
            <div class="topcoat-radio-button__checkmark"></div>
            None
          </label>
          <label class="topcoat-checkbox">
            <input type="radio" name="allowedDerivates" ng-model="rmd.AllowedDerivates.Crop.__text" value="visibilityOnly">
            <div class="topcoat-radio-button__checkmark"></div>
            Visibility Only
          </label>
          <label class="topcoat-checkbox">
            <input type="radio" name="allowedDerivates" checked ng-model="rmd.AllowedDerivates.Crop.__text" value="all">
            <div class="topcoat-radio-button__checkmark"></div>
            All
          </label>
        </fieldset>
      </fieldset>


      <crop-areas></crop-areas>

      <fieldset>
        <legend>PivotPoint</legend>
        <button ng-class="{active: isAreaActive('pivot')}" class="topcoat-icon-button--quiet" ng-click="setActiveArea('pivot')">
          <span class='icomatic icon'>pencil</span>
        </button>
        <input type="text" class="topcoat-text-input" ng-model="rmd.PivotPoint.x.__text">
        <input type="text" class="topcoat-text-input" ng-model="rmd.PivotPoint.y.__text">
      </fieldset>

      <fieldset>
        <legend>File</legend>
        <button class="topcoat-button" ng-click="commit()">
          <span class='icomatic icon'>save</span>
          Commit
        </button>
        <button class="topcoat-button" ng-click="revert()">
          <span class='icomatic icon'>refresh</span>
          Revert
        </button>
      </fieldset>
    </div>
  </div>
    
    
<!-- ext:js -->
<script src="../ext/CSInterface.js"></script>
<script src="../ext/themeManager.js"></script>
<script src="../ext/xmp_bridge.js"></script>
<!-- endinject -->
<!-- bower:js -->
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/ng-lodash/build/ng-lodash.js"></script>
<script src="../bower_components/x2js/xml2json.min.js"></script>
<script src="../bower_components/angular-xml/angular-xml.js"></script>
<!-- endbower -->
<!-- inject:js -->
<script src="../bundle/bundle.js"></script>
<!-- endinject -->
<!-- node:js -->
<!-- endinject -->
</body>
</html>
