<div class="crop-area">
  <button class="topcoat-icon-button--quiet">
    <span class='icomatic icon'>rectangleoutline</span> {{title}}
  </button>
  <input type="text" class="topcoat-text-input topcoat-text-input--small" ng-model="struct.x.__text">
  <input type="text" class="topcoat-text-input topcoat-text-input--small" ng-model="struct.y.__text">
  <input type="text" class="topcoat-text-input topcoat-text-input--small" ng-model="struct.w.__text">
  <input type="text" class="topcoat-text-input topcoat-text-input--small" ng-model="struct.h.__text">
</div>